<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="images/favicon.jpg">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h1>
      <a href="/">Break Stuff!</a>
    </h1>
    <h2>Create Post</h2>
    <div class="flexbox">
      <nav>
        <ul>
          <li><a href="/create">Post</a></li>
          <li><a href="/edit">Edit</a></li>
          <li><a href="/destroy">Destroy</a></li>
        </ul>
      </nav>
      <form action="/create" method="POST">
        <div class="create">
          <textarea name="blog" id="blog" rows="10" cols="75" placeholder="What's in the box?"></textarea>
        </div>
        <div>
          <button>Post It!</button>
        </div>
        <div class="photo"><img src="images/shang_tsung.gif" alt="Your soul is mine gif"></div>
      </form>
    </div>
  </body>
</html>