<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
    <h1>Temp Header</h1>
    <h2>Create Post</h2>
    <form action="/create" method="POST">
      <div>
        <label for="blog">What is your blog txt?</label>
        <input name="blog" id="blog" value="Hi this is my blog text!">
      </div>
      <div>
        <button>Post</button>
      </div>
    </form>
  </body>
</html>