<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="images/favicon.jpg">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h1>
      <a href="/">Break Stuff!</a>
    </h1>
    <h2>Create Post</h2>
    <div class="flexbox">
      <nav>
        <ul>
          <li><a href="/create">Post</a></li>
          <li><a href="/edit">Edit</a></li>
          <li><a href="/destroy">Destroy</a></li>
        </ul>
      </nav>
      <form action="/create" method="POST">
        <div>
          <label for="blog">What is your blog txt?</label>
          <input name="blog" id="blog" value="Hi this is my blog text!">
        </div>
        <div>
          <button>Post</button>
        </div>
      </form>
    </div>
  </body>
</html>