<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="images/favicon.jpg">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h1>
      <a href="/">Break Stuff!</a>
    </h1>
    <h2>It's a Free For All!!</h2>
    <div class="flexbox">
      <nav>
        <ul>
          <li><a href="/create">Post</a></li>
          <li><a href="/edit">Edit</a></li>
          <li><a href="/destroy">Destroy</a></li>
        </ul>
      </nav>
      <form action="/edit" method="POST">
        <div>
          <label for="blog_id">Enter post ID:</label>
          <input name="blog_id" id="blog_id" value="1">
        </div>
        <div class="areaLabel">
          <label for="txt">Edited post text:</label>
          <textarea name="txt" id="txt" rows="10" cols="75" placeholder="Make it say what you want..."></textarea>
        </div>
        <div>
          <button>Edit Post</button>
        </div>
        <div class="photo"><img src="images/sick_flames.gif" alt="Sick flames gif"></div>
      </form>
    </div>
  </body>
</html>