<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="images/favicon.jpg">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h1>
      <a href="/">Break Stuff!</a>
    </h1>
    <h2>Welcome to the Feed</h2>
    <div class="flexbox">
      <nav>
        <ul>
          <li><a href="/create">Post</a></li>
          <li><a href="/edit">Edit</a></li>
          <li><a href="/destroy">Destroy</a></li>
        </ul>
      </nav>
      <div id="posts">
        {% for txt in data%}
          <div class="post">
            <span class="postLabel">Blog ID: {{txt.blog_id}}</span>
            <div class="text">
              {{txt.blog_txt}}
            </div>
          </div>
        {% endfor%}
      </div>
    </div>
  </body>
</html>